In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_rows', 1000)

Path = r'E:/Users/Sven Maso/github/DScience_P2_SvSaAn/'
products = pd.read_csv(Path + 'products.csv')
orders = pd.read_csv(Path + 'orders.csv')
brands = pd.read_csv(Path + 'brands.csv')
orderlines = pd.read_csv(Path + 'orderlines.csv')
df_list = [orderlines, orders, brands, products]
files = ['orderlines','orders','brands','products']

def check_missing_values(data): 
    print('Missing values:' + '\n' + str(data.isna().sum()))
def check_duplicates(data): 
    print('Duplicated rows: ', data.duplicated().sum())

# Here we clean our Data

In [2]:
for i in range(len(df_list)):     
    print(f'File name: {files[i]}')
    print('\n')
    check_missing_values(df_list[i])
    print('\n')
    check_duplicates(df_list[i])
    print('\n')
    df_list[i].info()
    print('\n', '\n')

File name: orderlines


Missing values:
id                  0
id_order            0
product_id          0
product_quantity    0
sku                 0
unit_price          0
date                0
dtype: int64


Duplicated rows:  0


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB



File name: orders


Missing values:
order_id        0
created_date    0
total_paid      5
state           0
dtype: int64


Duplicated rows:  0


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB



File name: brands


Missing values:
short    0
long     0
dtype: int64


Duplicated rows:  0


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   short   187 non-null    object
 1   long    187 non-null    object
dtypes: object(2)
memory usage: 3.0+ KB



File name: products


Missing values:
sku             0
name            0
desc            7
price          46
promo_price     0
in_stock        0
type           50
dtype: int64


Duplicated rows:  8746


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

### Here is the order.csv cleaning

In [3]:
orders.loc[orders['total_paid'].isna()]

        order_id         created_date  total_paid    state
127701    427314  2017-11-20 18:54:39         NaN  Pending
132013    431655  2017-11-22 12:15:24         NaN  Pending
147316    447411  2017-11-27 10:32:37         NaN  Pending
148833    448966  2017-11-27 18:54:15         NaN  Pending
149434    449596  2017-11-27 21:52:08         NaN  Pending

In [4]:
orders.dropna(inplace=True)

In [5]:
orders['created_date'] = pd.to_datetime(orders['created_date'])

In [21]:
orders.to_csv(Path + 'orders_cl.csv', index=False)
orders_cl = pd.read_csv('orders_cl.csv')
print(orders_cl)
print(orders_cl.loc[orders_cl['total_paid'].isna()])

        order_id         created_date  total_paid            state
0         241319  2017-01-02 13:35:40       44.99        Cancelled
1         241423  2017-11-06 13:10:02      136.15        Completed
2         242832  2017-12-31 17:40:03       15.76        Completed
3         243330  2017-02-16 10:59:38       84.98        Completed
4         243784  2017-11-24 13:35:19      157.86        Cancelled
...          ...                  ...         ...              ...
226899    527397  2018-03-14 13:56:38       42.99      Place Order
226900    527398  2018-03-14 13:57:25       42.99  Shopping Basket
226901    527399  2018-03-14 13:57:34      141.58  Shopping Basket
226902    527400  2018-03-14 13:57:41       19.98  Shopping Basket
226903    527401  2018-03-14 13:58:36       18.98      Place Order

[226904 rows x 4 columns]
Empty DataFrame
Columns: [order_id, created_date, total_paid, state]
Index: []

In [13]:
#orders_cl.loc[orders_cl['total_paid'].isna()]

None

### Here is the orderline.csv cleaning

In [13]:
orderlines['date'] = pd.to_datetime(orderlines['date'])